{% extends 'boomers/base.html' %}
{% load static %}
{% block content %}
  <div class="forgot-password-wrapper">
    <div class="forgot-password-container">
      <h2>Forgot Password</h2>
      <p>Please enter your registered email address to reset your password.</p>
      <form method="post">
        {% csrf_token %}
        <div>
          {% include 'boomers/includes/errors.html' %}
        </div>
        <input type="email" name="email" placeholder="Enter your email" required />
        <button type="submit">Send Reset Link</button>
      </form>
    </div>
  </div>
{% endblock %}
