<header>
  <div class="header">
    <h3>Resume Generation</h3>
    {% if user.is_authenticated %}
      {% comment %} <p>
        <a style=" margin-right: 10px;" href="{% url 'index' %}">Home</a>
      </p> {% endcomment %}
      <p>
        <a style=" margin-right: 10px;" href="{% url 'logout' %}">Logout</a>
      </p>
    {% else %}
      <p>
        <a style=" margin-right: 10px;" href="{% url 'register' %}">Register</a>
      </p>

      <p>
        <a style=" margin-right: 10px;" href="{% url 'login' %}">Login</a>
      </p>
    {% endif %}
  </div>
</header>
